---
import type { AppRequestDTO, AppResponseDTO } from 'backend/dto/app.dto'

const typedFetch = <
	REQ_DTO extends Record<string, any>,
	RES_DTO extends Record<string, any>,
>(
	url: string,
	payload: REQ_DTO,
): Promise<RES_DTO> => {
	return fetch(url, {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
		},
		body: JSON.stringify(payload),
	}).then((r) => r.json())
}

const exampleResponse = await typedFetch<AppRequestDTO, AppResponseDTO>(
	`http://localhost:${process.env.BACKEND_PORT}/examplePost`,
	{ filter: { keyword: 'example' } },
)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro and nestjs were loaded and</h1>
		<p>
			"{JSON.stringify(exampleResponse.items)}" and "{
				JSON.stringify(exampleResponse.applied)
			}" was fetched as example response from underlying nest.js service
		</p>
	</body>
</html>
